body {
    background-color: #f0f2f5 !important;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.bg-success {
    background-color: #f6ffed;
}

.bg-info {
    background-color: #e6f7ff;
}

.bg-warning {
    background-color: #fffbe6;
}

.bg-error {
    background-color: #fff1f0;
}

.text-error {
    color: #f5222d;
}

.min-td {
    width: 1%;
    white-space: nowrap;
}

.codemirror-form .CodeMirror {
    height: 755px;
}

